html{
    height: 100%;
    overflow: hidden;
}
body{
    display: grid;
    text-align: center;
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
}

#user-coin2{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 300px;
}
#user-coin-holder{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
    overflow: hidden;
    max-height: 200px;
}
#user-coins{
    display:flex;
    width: 400px;
    margin-left: 50px;
    overflow: hidden;

    position:absolute;
    margin-top: 25px;
    border-radius: 15px;
    padding: 15px;
}
#user-coins .coin-box{
    background-color: rgba(255, 255, 255, 0.896);
    height: 55px; 
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
    display: none;
    flex-basis: calc(100% / 3);
    padding: 10px;
}
#user-coins .coin-box:last-child{
    margin-right: 0;
}
#user-coins span{
    padding: 10px;
    margin: auto;
    font-size: 30px;
}
#user-coins img{
    height: 50px;
    width: 50px;
    border-radius: 300px;
    padding: 2px;
}


#user-coin-holder #user-coin{
    height: 100px;
    width: 100px;
}
#comp-coin-holder{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    position: absolute;
    overflow: hidden;
    max-height: 200px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 150px;
    overflow: hidden;
}
#comp-coin-holder img{
    box-sizing: border-box;
}
#comp-coin-holder #comp-coin{
    height: 100px;
    width: 100px;
    border-radius: 300px;
}
#rps-card{
    margin-top: 50px;
    margin-bottom: 50px;
}
.rps-title{
    background: white;
    display: inline;
    padding: 15px;
    border-radius: 10px;
}
#choice-box{
    display: flex;
    justify-content: center;
}
.computer{
    margin: 40px;
    padding-right: 100px;
    padding-top: 20px;
    background-color: azure;
    padding-left: 53px;
    padding-right: 53px;
    border-radius: 20px;
}
#user{
    margin: 40px;
    background-color: azure;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

#result-box{
    display: inline;
}

#result-card{
    display: inline-block;
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 25px;
}

#button-box{
    margin: 50px;
}
#button-box button{
    height: 100px;
    width:100px;
}

#result-img, #user-img, #computer-img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: none;
    margin: auto;
}